{% extends "_base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<div>
	<div class="form" id="earnings-0">
		<h1>Let's get some basic info first</h1>
			<form method="POST" class="register-form">
				{% for question in questions %}
					<div class="row question">
						{{question.prompt}}
						<div class="row answer">
							{% for field in prompts %}
								{% if field.question_id == question.question_id %}
									{{form[field.prompt_name]}}
								{% endif %}
								<input type="hidden" name="user_id" value="{{user_id}}"/>
								<input type="hidden" name="page_id" value="{{question.page_id}}"/>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<button>Let's keep Gameplanning</button>
			</form>
	</div>
</div>
{% endblock %}